* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    display: flex;
    font-family: 'Century Gothic', sans-serif;
    max-width: 50rem;
    margin: 0 auto; 
}

.heading {
    /* background-color: lightblue !important;  */
    padding: 30px 30px 10px 30px;
    text-align: center;
}

.top_name {
    font-size: 4rem;
}

/* .nav {
    /* background-color: lightcoral !important; */
/* }  */

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem 2rem;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav a:hover {
    text-decoration: underline;
}

.main_content {
    /* background-color: pink; */
    display: flex;
}

.image { 
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%; 
  
}

.image img {
    margin: 20px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.intro  {
    padding-top: 1rem;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    /* background-color: lightseagreen !important; */
    display: block;
}

.intro h2 {
    padding-bottom: 1rem;
}

/* .check_me_out {
    /* background-color: grey; */
/* }  */


.intro p a{
    text-decoration: none;
    color: magenta;
}

.intro p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {

.main_content {
    display: block;
    margin: 0 auto;

}

.image { 
    width:85%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: lightgreen;  */
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #959595;
}  
    
.image img {
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    
}

    
}

