* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    display: block;
    font-family: 'Century Gothic', sans-serif;
    max-width: 50rem;
    margin: 0 auto; 
}

.heading {
    /* background-color: lightblue !important;  */
    padding: 30px 30px 10px 30px;
    text-align: center;
}

.rainbow-letters {
    font-size: 4rem;
}
.a {
    color: #0099ff; 
}

.l {
    color: #ff66ff;
}

.e {
    color: #ffcc00;
}

.x {
    color: #00cc00;
    
}

.g {
    color: #aa80ff;
}

.i1 {
    color: #ff5050;
}

.z1 {
    color: #6699ff;
}

.z2 {
    color: #ff7519;
}

.i2 {
    color: #00e673;
}

.nav {
    text-align: center;
    /* background-color: lightcoral !important;  */
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem 2rem;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav a:hover {
    text-decoration: underline;
}

.main_content {
    display: flex;

}
.project_name h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project_box1 {
    /* background-color: lightpink; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project_box1 h2 {
    padding-top: 2rem;
}
.project_box1 a{
    text-decoration: none;
    color: magenta;
}

.project_box1 a:hover{
    text-decoration: underline;
}

.image_garden {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.image_garden img {
    object-fit: cover;
    border-radius: 50%;

}

.project_box2 {
    /* padding-top: 2rem; */
    /* background-color: lightgoldenrodyellow; */
}

.project_box2 h2 {
    /* padding-top: 2rem; */
}

.image_dogs {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.image_dogs img {
    object-fit: cover;
    border-radius: 50%;
}

.click_for_code p a{
    text-decoration: none;
    color: magenta;
}

.click_for_code p a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 600px) {

.project_name {
    display: block
}

.main_content {
    padding-left: 50px; 
    padding-right: 50px; 
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
}

.project_box1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-left: 100px; */
}

.project_box1 details {
    text-align: left;
}

.project_box2 {
    display: flex;
    justify-content: center;
}

}